body {
	margin-top:50px; margin-bottom:50px;
}
div {
	display:block; position:relative;
}

.container {
	width:1300px;
}

/* Calendar */
.calendar {
	width:100%;
}
	.calendar .header {
		font-size:15px; text-align:center; background-color:#222222; color:#FFF; padding-top:15px; padding-bottom:15px;
	}
	.calendar .day {
		font-size:15px; text-align:center; padding-top:15px; padding-bottom:15px; font-weight:bold; width:14.28%; position:relative;
	}
	.calendar .weekend {
		background-color:#CCEEFF;
	}
	.calendar .work {
		background-color:#C9FF93;
	}
	.calendar .dont_work {
		background-color:#FFCCCC;
	}
	
	.calendar .hover_day {
		width:100%; height:100%; line-height:50px; font-size:15px; text-align:center; font-weight:bold; background-color:#31839E; position:absolute; top:0px; left:0px; z-index:999999; color:#FFF; font-weight:normal;
	}
		.calendar .hover_day:hover {
			cursor: pointer; cursor: hand;
		}


