@(form: Form[Application.Login])
<div id="section_title" style="margin-top: 80px;"> Login
          <a href="@routes.Application.register"> Register </a>
      </div>
<div class="input_form input_form_style">
        <div class="field">
          <label for="email"> Email </label>
          <input type="email" name="email" placeholder="Email" value="@form("email").value">
        </div>
        <div class="field">
          <label for="password"> Password </label>
          <input type="password" name="password" placeholder="Password">
        </div>
        <div class="field">
          <button type="submit" id="submit-button">Login</button>
        </div>
      </div>