@(form: Form[Application.Login])
<div class="input_form input_form_style">
        <div class="field">
          <label for="email"> Email </label>
          <input type="email" name="email" placeholder="Email">
        </div>
        <div class="field">
          <label for="password"> Password </label>
          <input type="password" name="password" placeholder="Password">
        </div>
        <div class="field">
          <button type="submit" id="submit-button">Login</button>
        </div>
      </div>